name: Build Android APK
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Install Dependencies
        working-directory: ./android-proxy-app
        run: npm i

      - name: Expo Prebuild
        working-directory: ./android-proxy-app
        run: npx expo prebuild --platform android --no-install

      - name: Set Execute Permissions for gradlew
        working-directory: ./android-proxy-app/android
        run: chmod +x gradlew

      - name: Build Debug APK
        working-directory: ./android-proxy-app/android
        run: ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: android-proxy-app-debug
          path: ./android-proxy-app/android/app/build/outputs/apk/debug/app-debug.apk
